/* Add application styles & imports to this file! */

body{background-color: black;}
            
            @keyframes text-color {
                0% { color: #c47233; }

                20% { color: #1565a5; 
                      font-size: 30px;
                }
    
                40% { color: #b11c1d; }

                60% { color: #06700f; }

                80% { color: #3eab9b; }
            }

            .body {
                color: rgba(255, 255, 255, 0.8);
                text-align: center;
                font-size: 10px;
            }

            .header {
                text-align: center;
                animation: text-color 0.5s alternate infinite;
                font-size: 25px;
                color: black;
            }